.span4
  = form_for @event do |f|
    -if @event.errors.any?
      #error_explanation
        %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
        %ul
          - @event.errors.full_messages.each do |msg|
            %li= msg
    .field
      = f.label :title
      = f.text_field :title
    .field
      = f.label :address_line_1
      = f.text_field :address_line_1
    .field
      = f.label :address_line_2
      = f.text_field :address_line_2
    .field
      = f.label :city
      = f.text_field :city
    .field
      = f.label :latitude
      = f.text_field :latitude
    .field
      = f.label :longitude
      = f.text_field :longitude
    .field
      = f.label :when
      = f.datetime_select :when
    .field
      = f.label :hashtag
      = f.text_field :hashtag
    .actions
      = f.submit 'Save'
.span4
  .well
    %p mapa