%h1 Listing events
%table.table.table-striped
  %tr
    %th Title
    %th Address line 1
    %th Address line 2
    %th City
    %th When
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td= event.title
      %td= event.address_line_1
      %td= event.address_line_2
      %td= event.city
      %td= time_ago_in_words event.when unless event.when.nil?
      %td= link_to 'Show', event
      %td= link_to 'Edit', edit_event_path(event)
      %td= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Event', new_event_path
